<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <ul>
            <li><a href="{{ url('homepage') }}">Homepage</a></li>
            <li><a href="{{ url('hello', { name: 'boss' }) }}">Hello Boss</a></li>
            <li><a href="{{ url('app_product_form') }}">Product form</a></li>
        </ul>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
